div.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.tile {
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 8em;
  box-sizing:border-box;
}

div:hover{
  cursor:pointer;
}

.container, .playerTurn {
  text-align: center;
}

.X, .O {
  border-radius: 10px;
}
.X {
  background: red;
}
.O {
  background: blue;
}

.clear {
  background: white;
}

#reset {
  padding: .5em;
  width: 12em;
  height: 3em;
  font-size: 1em;
  border-radius: .5em;
  cursor: pointer;
}

#reset:hover{
  background: #b8bdee;
  border-color: white;
}